<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TypeWord - <%= room %></title>
    <link rel="shortcut icon" href="/logo" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
    crossorigin="anonymous">
</head>
<body class="text-center">
    <h1><%= room %></h1>
    <p>Host: <%= host %></p>
    <p>You: <%= user %></p>
    <p id="playerText">Player: <%= player %></p>
    <hr>

    <p><b>Word:</b></p>
    <p id="wordText" style="user-select: none;"></p>
    <div class="d-flex justify-content-center mt-4">
        <input type="text" class="form-control w-25" id="wordInp">
    </div>
    <br>
    <p id="timeText">Time: 0s</p>
    <p id="winnerText"></p>


    <br>

    <p><b>Controls (host only):</b></p>
    <div class="btn-group">
        <button id="startGameBtn" class="btn btn-success" disabled>Start</button>
        <button id="deleteRoomBtn" class="btn btn-danger" disabled>Delete Room</button>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const you = "<%= user %>";
        const room = "<%= room %>";
        const host = "<%= host %>";
        const socket = io();
        const playerText = document.getElementById("playerText");
        const wordText = document.getElementById("wordText");
        const startGameBtn = document.getElementById("startGameBtn");
        const timeText = document.getElementById("timeText");
        const wordInp = document.getElementById("wordInp");
        const deleteRoomBtn = document.getElementById("deleteRoomBtn");
        const winnerText = document.getElementById("winnerText");
        let word;
        let time = 0;

        if(you == host){
            startGameBtn.disabled = false;
            deleteRoomBtn.disabled = false;
        }

        function startGame(){
            socket.emit("typewordstart", {"room": room});
        }

        function checkWord(){
            if(wordInp.value == word){
                const finishTime = time;
                word = undefined;
                time = 0;
                socket.emit("typewordfinish", {"room": room, "time": finishTime, "player": you});
            }
        }

        setInterval(() => {
            if(word){
                time = time + 0.01;
                timeText.textContent = `Time: ${time.toFixed(2)}`;
                checkWord();
            }
        }, 10);


        socket.on("typewordjoin", (data) => {
            if(data.room == room){
                playerText.textContent = `Player: ${data.username}`;
            }
        });

        socket.on("typeworddelete", (data) => {
            if(data.room == room){
                location.href = "/error/Host deleted the room";
            }
        });

        socket.on("typewordwinner", (data) => {
            if(data.room == room){
                word = undefined;
                time = 0;
                winnerText.textContent = `${data.player} won with ${data.time.toFixed(2)}`;
            }
        });

        socket.on("typewordstart", (data) => {
            if(data.room == room){
                wordText.textContent = "3";
                setTimeout(() => {
                    wordText.textContent = "2";
                    setTimeout(() => {
                        wordText.textContent = "1";
                        setTimeout(() => {
                            word = data.word;
                            wordText.textContent = word;
                        }, 1000);
                    }, 1000);
                }, 1000);
            }
        });

        deleteRoomBtn.addEventListener("click", () => {
            socket.emit("typeworddelete", {"room": room});
        });

        startGameBtn.addEventListener("click", () => startGame());
    </script>
</body>
</html>